

.container{
    width: 100%;
    margin: auto;
    background-color: aliceblue;
}


.todo{
    width: 360px;
    margin:1% auto;
    padding: 0 0 0 10px ;
    display: flex;
    border: 1px solid;
    justify-content: space-between;
    background-color: teal;
    color: white;
}

button{
    padding:17px;
    font-size: 19px;
    border: none;
    background-color: teal;
    color: white;
    cursor: pointer;
}

.inpbox{
    border: 3px solid teal;
    width: 360px;
    margin: auto;
    align-items: center;
    display: flex;
}
input{
    padding:18px 6px;
    /* border: none; */
    width: 280px;
    color: teal;
    font-size: 15px;
    font-weight: 600;
}
h1{
    color: teal;
}